<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js"></script>
    <script>
        AFRAME.registerComponent('weblink', {
            init() {
                this.el.addEventListener('click', (evt) => {
                    window.open(evt['srcElement']['attributes']['weblink']['nodeValue'], '_blank').focus();
                });
            }
        });
        AFRAME.registerComponent('alerter', {
            init() {
                this.el.addEventListener('click', (evt) => {
                    alert(evt['srcElement']['attributes']['alerter']['nodeValue'], '_blank');
                });
            }
        });
    </script>
</head>
<body>
<a-scene
        mindar-image="imageTargetSrc: ../static/code.mind;"
        color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false"
        device-orientation-permission-ui="enabled: false">
    <a-assets>
        <img id="ar-text" src="../static/ar-text.png"/>
        <img id="logo" src="../static/icons/logo.png"/>
        <img id="insta" src="../static/insta.png"/>
        <img id="twitter" src="../static/twitter.png"/>
        <img id="lvivsoft" src="../static/lvivsoft-logo.png"/>
    </a-assets>

    <a-camera position="0 0 0" look-controls="enabled: false" cursor="fuse: false; rayOrigin: mouse;"
              raycaster="far: ${customFields.libVersion}; objects: .clickable"></a-camera>

    <a-entity mindar-image-target="targetIndex: 0"
              mindar-image="filterMinCF: 0.1; filterBeta: 0.01; missTolerance: 300; warmupTolerance: 1;">

        <a-image id="insta-button" weblink="https://www.instagram.com" class="clickable" weblink src="#insta"
                 position="0.64 -0.26 0" height="0.2" width="0.2"
                 rotation="0 0 0"
                 transparent="true"
                 animation="property: position; to: 0.64 -0.4 0; dur: 1200; easing: easeInCirc; loop: true; dir: alternate"></a-image>
        <a-image id=" twitter-button
        " class="clickable" weblink="https://www.twitter.com" src="#twitter"
                 position="0.94 -0.26 0" height="0.2"
                 width="0.2"
                 rotation="0 0 0"
                 transparent="true"
                 animation="property: position; to: 0.94 -0.4 0; dur: 1200; easing: easeInCirc; loop: true; dir:
        alternate"></a-image>
        <a-image id="lvivsoft-button" class="clickable" alerter="Hi :)" src="#lvivsoft"
                 position="1.24 -0.26 0" height="0.1"
                 width="0.2"
                 rotation="0 0 0"
                 transparent="true"
                 animation="property: position; to: 1.24 -0.4 0; dur: 1200; easing: easeInCirc; loop: true; dir: alternate"></a-image>
        <a-image src=" #logo
        " position="0.84 0.8 0" height="0.6" width="0.6" rotation="0 0 0"
                 transparent="true">
        </a-image>
        <a-image src="#ar-text" position="0.94 0.2 0" height="0.8" width="0.8" rotation="0 0 0"
                 transparent="true"></a-image>
    </a-entity>
</a-scene>
</body>
</html>