<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js"></script>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/index-ar.css') }}">
    <script>
        AFRAME.registerComponent('weblink', {
            init() {
                this.el.addEventListener('click', (evt) => {
                    window.open(evt['srcElement']['attributes']['weblink']['nodeValue'], '_blank').focus();
                });
            }
        });
        AFRAME.registerComponent('alerter', {
            init() {
                this.el.addEventListener('click', (evt) => {
                    alert(evt['srcElement']['attributes']['alerter']['nodeValue'], '_blank');
                });
            }
        });
    </script>
</head>
<body>
<a-scene
        mindar-image="imageTargetSrc: ../static/b-card/b-card.mind;"
        color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false"
        device-orientation-permission-ui="enabled: false">
    <a-assets>
        {#        <img id="insta" src="../static/b-card/insta.png"/>#}
        <img id="b-card-body" src="../static/b-card/b-card-preview.jpg"/>
        <img id="logo" src="../static/b-card/logo.png"/>

    </a-assets>

    <a-camera position="0 0 0" look-controls="enabled: false" cursor="fuse: false; rayOrigin: mouse;"
              raycaster="far: ${customFields.libVersion}; objects: .clickable"></a-camera>
    <a-entity mindar-image-target="targetIndex: 0"
              mindar-image="filterMinCF: 0.1; filterBeta: 0.01; missTolerance: 300; warmupTolerance: 1;">
        {#        <a-text value="Hello, World!"></a-text>#}
        {#        <a-image id="insta-button" weblink="https://www.instagram.com" class="clickable" weblink src="#insta"#}
        {#                 position="0.64 -0.26 0" height="0.2" width="0.2"#}
        {#                 rotation="0 0 0"#}
        {#                 transparent="true"#}
        {#                 animation="property: position; to: 0.64 -0.4 0; dur: 300; easing: easeInCirc; loop: true; dir: alternate"></a-image>#}
        {#        <a-entity material="shader:gif;src:#me;transparent:true;"></a-entity>#}
        <a-image id="a-logo" src="#logo"
                 position="0.25 0.16 0" height="0.11" width="0.33"
                 rotation="0 0 0.1"
                 transparent="true"
        ></a-image>
        <a-text value="Email: maxfyk@gmail.com" class="clickable" weblink="mailto:maxfyk@gmail.com"
                position="0.05 0 0.1" height="0.7" width="0.7"></a-text>
        <a-text value="Github: @maxfyk" position="0.05 -0.1 0.1" height="0.7" width="0.7"></a-text>
        <a-text value="Mobile: +380968442209" position="0.05 -0.2 0.1" height="0.7" width="0.7"></a-text>
        <a-video src="../static/b-card/me.mp4" width="0.248" height=".3031" position="-0.24 -0.04 0"></a-video>
        <a-image id="a-b-card-body" src="#b-card-body"
                 position="0 0 -0.1" height="0.5" width="1"
                 rotation="0 0 0"></a-image>
    </a-entity>
</a-scene>
<div class="scan-button-container">
    <div class="button-container">
        <button class="scan-button" id="scan-button" onclick="window.location.href = '/';"></button>
        <small class="button-description">Home</small>
    </div>
</div>
</body>
</html>