<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/index-ar.css') }}">
</head>
<body>
<div class="contact-us">
    <a>Contact us</a>
</div>

{% autoescape off %}
{{ PREVIEW_CODE }}
{% endautoescape %}
<div class="scan-button-container-swapped">
    <div class="button-container">
        <button class="scan-button-swapped" id="scan-button-swapped" onclick="window.location.href = '/';"></button>
        <small class="button-description">Home</small>
    </div>
</div>
<div class="pause-button-container">
    <div class="button-container">
        <button class="pause-button" id="pause-button"></button>
        <small class="button-description" id="pause-button-text">Pause</small>
    </div>
</div>
<script>
    var paused = false;

    function pauseToogler() {
        console.log(paused);
        if (paused) {
            arSystem.unpause();
            pauseButtonText.innerHTML = 'Pause';
        } else {
            arSystem.pause();
            pauseButtonText.innerHTML = 'Resume';
        }
        paused = !paused;
    }

    const sceneEl = document.querySelector('a-scene');
    const arSystem = sceneEl.systems["mindar-image-system"];
    const pauseButton = document.querySelector("#pause-button");
    const pauseButtonText = document.querySelector("#pause-button-text");
    pauseButton.addEventListener('click', () => {
        pauseToogler();
    });

</script>
</body>
</html>