<!DOCTYPE html>
<html lang="en">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/icons/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
<body>
<div class="form-div">
    <b class="main-text create-code">Here is your COJI code! </b>
    <a class="main-text create-code-char-code">сode id: {{ char_code }}</a>

    <div style="padding-top: 20rem;">
        <img style="text-align:center;display:block;margin-left:auto;margin-right:auto;border: 6px solid #1a1a1a;"
             src="data:image/jpeg;base64,{{ code_image }}"></h3>
    </div>
    <div style="height: 4rem;"/>
    <a class="create-code sub-data-text" style="line-height: 120% !important;">*You can download the code as an image
        <br/>(right click or press & hold)!</a>
    <div style="height: 25em;"/>

    <div class="scan-button-container">
        <div class="button-container">
            <button class="scan-button" id="scan-button" onclick="window.location.href = '/';"></button>
            <small class="button-description">Home</small>
        </div>
    </div>

</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</html>