<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
<body>
<div style="text-align: center; width: 100%">
    <a class="data-preview-text"><b>😢{{ ERROR }}😢</b></a>
</div>


<div>
    <div class=" scan-button-container">
    <div class="button-container">
        <button class="scan-button" id="scan-button" onclick="window.location.href = '/';"></button>
        <small class="button-description">Home</small>
    </div>
</div>
</div>
</body>
</html>