<!DOCTYPE html>
<html lang="en">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CCXXB5EDB0"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-CCXXB5EDB0');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js"></script>
<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js"></script>
<link rel="preload" as="font" href="/static/fonts/calibri/calibri.eot" crossorigin="anonymous">
<link rel="preload" as="font" href="/static/fonts/calibri/calibri.svg" crossorigin="anonymous">
<link rel="preload" as="font" href="/static/fonts/calibri/calibri.ttf" type="font/ttf" crossorigin="anonymous">
<link rel="preload" as="font" href="/static/fonts/calibri/calibri.woff" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="/static/fonts/calibri/calibri-bold.ttf" type="font/ttf" crossorigin="anonymous">

<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/icons/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/index-ar.css') }}">

{% if ERROR %}
    <script>
        alert("{{ ERROR }}" + '😢');
    </script>
{% endif %}
<body>
<a class="camera-warning">Please provide camera access!</a>
<div class="usage-help-div">
    <a class="usage-help">Point your camera at the code and press the scan button!
        <br/>
        <small style="font-weight: normal;"> or type the code in via keyboard</small>
        <br/>
        <small style="font-weight: normal;"> or find one on the map</small>
    </a>
</div>
{#<video class="video-preview" ></video>#}

<div class="buttons-wrap">
    <div class="info-button-container">
        <div class="button-container">
            <button class="info-button" id="info-button" onclick="window.location.href = '/what-is-this';"></button>
            <small class="button-description">What's </br> this?</small>

        </div>

    </div>
    <div class="scan-button-container">
        <div class="button-container">
            <button class="scan-button" id="scan-button"></button>
            <small class="button-description">Scan</small>
        </div>
    </div>
    <div class="keyboard-decode-button-container">
        <div class="button-container">
            <button class="keyboard-decode-button" id="keyboard-decode-button"
                    onclick="window.location.href = '/keyboard-decode';"></button>
            <small class="button-description">Type in</small>
        </div>
    </div>
    <div class="location-decode-button-container">
        <div class="button-container">
            <button class="location-decode-button" id="location-decode-button"
                    onclick="location_redirector();"></button>
            <small class="button-description">Map</small>
        </div>
    </div>
</div>
<a-scene
        id="a-scene"
        mindar-image="imageTargetSrc: ../static/code.mind;"
        color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false"
        device-orientation-permission-ui="enabled: false">

    <a-camera id="stream" position="0 0 0" look-controls="enabled: false"
              cursor="fuse: false; rayOrigin: mouse;"
              raycaster="far: ${customFields.libVersion}; objects: .clickable"></a-camera>
</a-scene>

</body>
<script type="text/javascript" src="https://unpkg.com/platform@1.3.6/platform.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</html>