<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
<body>
<div class="whats-this-div">
    <img class="whats-this-div-img" src="/static/icons/whats-this.png"/>
</div>
<div style="height: 35em;"/>
<div>
    <div class="scan-button-container">
        <div class="button-container">
            <button class="scan-button" id="scan-button" onclick="window.location.href = '/';"></button>
            <small class="button-description">Home</small>
        </div>
    </div>
</div>
</body>
</html>