body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('/static/icons/scan-loading.gif');
}

@font-face {
    font-family: 'Calibri';
    src: url('/static/fonts/calibri/calibri.eot');
    src: url('/static/fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/calibri/calibri.woff') format('woff'),
    url('/static/fonts/calibri/calibri.ttf') format('truetype'),
    url('/static/fonts/calibri/calibri.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/static/fonts/calibri/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background: #FFCC00 no-repeat center center; /* add error background for camera */
    background-size: cover;
}

* {
    color: #1a1a1a;
}

.dropdown-options {
    color: #FFCC00;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFCC00;
    opacity: 1; /* Firefox */
}

.video-preview {
    /* Make video to at least 100% wide and tall */
    /* Center the video */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.camera-warning {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: Calibri;
    font-size: 3vw;
}

.usage-help-div {
    left: 0;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-family: Calibri;
    font-weight: bold;
    font-size: 3vh;
    z-index: 9999;
}

/*bottom bar buttons*/

.button-container {
    display: table-cell;
    vertical-align: middle;
}

.keyboard-decode-button {
    display: flex;
    align-items: center;
    width: 10vh;
    height: 10vh;
    max-height: 15vw;
    max-width: 15vw;
    display: block;
    margin: 0 auto;
    background: #1a1a1a url('/static/icons/keyboard-decode-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #FFCC00 0.5vh solid;
}

.keyboard-decode-button-container {
    position: fixed;
    display: table;
    left: 70%;
    bottom: 6%;
    width: 40vh;
    max-width: 30vw;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.location-decode-button-container {
    position: fixed;
    left: 85%;
    bottom: 6%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.location-decode-button {
    display: flex;
    align-items: center;
    width: 6vh;
    height: 6vh;
    max-height: 12vw;
    max-width: 12vw;
    display: block;
    margin: 0 auto;
    background: #1a1a1a url('/static/icons/location-decode-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #FFCC00 0.4vh solid;
}


.scan-button-container {
    position: fixed;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.scan-button {
    display: flex;
    align-items: center;
    width: 18vh;
    height: 18vh;
    max-height: 22vw;
    max-width: 22vw;
    display: block;
    margin: 0 auto;
    background: transparent url('/static/icons/scan-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #1a1a1a 0.6vh solid;
}

.info-button {
    align-items: center;
    width: 10vh;
    height: 10vh;
    max-height: 15vw;
    max-width: 15vw;
    display: block;
    margin: 0 auto;
    background: #1a1a1a url('/static/icons/what-is-this-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #FFCC00 0.5vh solid;
}

.info-button-container {
    position: fixed;
    display: table;
    left: 30%;
    bottom: 6%;
    width: 40vh;
    max-width: 30vw;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.button-description {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    display: block;
    position: absolute;
    color: #1a1a1a;
    font-family: Calibri;
    font-weight: bold;
    font-size: 240%;

}


/*data-preview */
.data-preview-text-div {
    padding-top: 10rem;
    text-align: center;
}

.data-preview-text {
    font-family: Calibri;
    font-size: 3rem;
}

/*keyboard-decode*/


.sub-data-input {
    border-radius: 2rem;
    background-color: #1a1a1a;
    color: #FFCC00;
    font-family: Calibri;
    font-size: 1.8rem;
    white-space: nowrap;
    height: 4rem;
    width: 99% !important;
}

.code-id-div {
    left: 25%;
    top: 24.2rem;
    font-size: 3rem;
    text-align: center;
    height: 50rem;
}

.keyboard-div {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding-top: 6rem;
    margin-top: 16%;
}

.keyboard {
    display: inline-block;
    touch-action: manipulation;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /*top: 80%;*/
    width: 820px;
}

.keyboard-decode-div {
    left: 25% !important;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.keyboard-row {
    margin-left: 110px;
    height: 170px;
}

.piece-button {
    float: left;
    margin-left: 2rem;
    font-family: Calibri;
    text-align: center;
    width: 110px;
    height: 140px;
    background-color: #1a1a1a;
    border-radius: 1.4rem;
    color: #FFCC00;
    font-size: 2rem;
}

.keyboard-piece-icon {
    width: 90px;
    height: 90px;
}

/*shared*/

.main-text {
    white-space: nowrap;
    top: 3.6rem;
    font-size: 500%;
    width: 100% !important;
}

.scan-button-container-swapped {
    position: fixed;
    left: 30%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.add-button-container-swapped {
    position: fixed;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.add-button-swapped {
    display: flex;
    align-items: center;
    width: 15vh;
    height: 15vh;
    max-height: 20vw;
    max-width: 20vw;

    background: #1a1a1a url('/static/icons/create-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #FFCC00 0.6vh solid;

}

.scan-button-swapped {
    display: flex;
    align-items: center;
    width: 10vh;
    height: 10vh;
    max-height: 15vw;
    max-width: 15vw;

    background: transparent url('/static/icons/scan-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #1a1a1a 0.5vh solid;
}

.create-code {
    left: 0;
    line-height: 200px;
    margin-top: 4% !important;
    position: absolute;
    text-align: center;
    width: 50%;

    font-family: Calibri;
}


.create-code-char-code {
    left: 0;
    line-height: 200px;
    margin-top: -2% !important;
    font-size: 200% !important;
    position: absolute;
    text-align: center;
    width: 50%;

    font-family: Calibri;
}
